@{
    ViewData["Title"] = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section StyleSheets {
    <link href="~/css/question_styles.css" rel="stylesheet" />
}

<div class="row">
    <div id="main-section">

        <!--Display question-->
        <div class="question-container page-header">

            <!--Topic bar-->
            <div class="topic-bar">
                <div class="topic-tag">
                    <a href="#">Lifestyle</a>
                </div>

                <div class="topic-tag">
                    <a href="#">Lifestyle</a>
                </div>

                <div class="topic-tag">
                    <a href="#">Lifestyle</a>
                </div>
            </div>

            <!--Question content-->
            <div class="question-content">
                <div>
                    <div>
                        <h1 class="question-content-text">Question: How to boil an egg? </h1>
                        <div class="question-info">
                            <div class="poster">
                                <small>by <strong>Lam Nguyen</strong> on 30/03/2019</small>
                            </div>

                            <h3><strong>4 answers</strong></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Display answers-->
        <div class="page-header">
            <h3>Answer by <strong>Nguyen Lam</strong></h3>
            <div class="poster">
                <small>Posted on 30/03/2019</small>
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non et molestias ducimus expedita
                aliquid, ea esse ut architecto eum quas dignissimos rem molestiae? Modi soluta aspernatur
                quis nesciunt vero doloribus Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                accusamus, eum ad dolore nihil voluptatum voluptate aliquam. Alias, itaque neque earum
                quaerat deserunt qui, magnam sunt aspernatur maxime mollitia dolorum. Lorem ipsum dolor, sit
                amet consectetur adipisicing elit. Voluptate nihil quisquam illo dolorem nesciunt doloremque
                rerum voluptatibus ab modi, cumque unde consequuntur alias voluptatem temporibus cupiditate,
                debitis excepturi maxime incidunt.
            </p>
            <div class="utility">
                <ul>
                    <li><a href="#">Up Vote</a></li>
                    <li><a href="#">Comment</a></li>
                    <li><a href="#">Share</a></li>
                </ul>
            </div>
        </div>

        <div class="page-header">
            <h3>Answer by <strong>Nguyen Lam</strong></h3>
            <div class="poster">
                <small>Posted on 30/03/2019</small>
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non et molestias ducimus expedita
                aliquid, ea esse ut architecto eum quas dignissimos rem molestiae? Modi soluta aspernatur
                quis nesciunt vero doloribus Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                accusamus, eum ad dolore nihil voluptatum voluptate aliquam. Alias, itaque neque earum
                quaerat deserunt qui, magnam sunt aspernatur maxime mollitia dolorum. Lorem ipsum dolor, sit
                amet consectetur adipisicing elit. Voluptate nihil quisquam illo dolorem nesciunt doloremque
                rerum voluptatibus ab modi, cumque unde consequuntur alias voluptatem temporibus cupiditate,
                debitis excepturi maxime incidunt.
            </p>
            <div class="utility">
                <ul>
                    <li><a href="#">Up Vote</a></li>
                    <li><a href="#">Comment</a></li>
                    <li><a href="#">Share</a></li>
                </ul>
            </div>
        </div>

        <div class="page-header">
            <h3>Answer by <strong>Nguyen Lam</strong></h3>
            <div class="poster">
                <small>Posted on 30/03/2019</small>
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non et molestias ducimus expedita
                aliquid, ea esse ut architecto eum quas dignissimos rem molestiae? Modi soluta aspernatur
                quis nesciunt vero doloribus Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                accusamus, eum ad dolore nihil voluptatum voluptate aliquam. Alias, itaque neque earum
                quaerat deserunt qui, magnam sunt aspernatur maxime mollitia dolorum. Lorem ipsum dolor, sit
                amet consectetur adipisicing elit. Voluptate nihil quisquam illo dolorem nesciunt doloremque
                rerum voluptatibus ab modi, cumque unde consequuntur alias voluptatem temporibus cupiditate,
                debitis excepturi maxime incidunt.
            </p>
            <div class="utility">
                <ul>
                    <li><a href="#">Up Vote</a></li>
                    <li><a href="#">Comment</a></li>
                    <li><a href="#">Share</a></li>
                </ul>
            </div>
        </div>

        <div class="page-header">
            <h3>Answer by <strong>Nguyen Lam</strong></h3>
            <div class="poster">
                <small>Posted on 30/03/2019</small>
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non et molestias ducimus expedita
                aliquid, ea esse ut architecto eum quas dignissimos rem molestiae? Modi soluta aspernatur
                quis nesciunt vero doloribus Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
                accusamus, eum ad dolore nihil voluptatum voluptate aliquam. Alias, itaque neque earum
                quaerat deserunt qui, magnam sunt aspernatur maxime mollitia dolorum. Lorem ipsum dolor, sit
                amet consectetur adipisicing elit. Voluptate nihil quisquam illo dolorem nesciunt doloremque
                rerum voluptatibus ab modi, cumque unde consequuntur alias voluptatem temporibus cupiditate,
                debitis excepturi maxime incidunt.
            </p>
            <div class="utility">
                <ul>
                    <li><a href="#">Up Vote</a></li>
                    <li><a href="#">Comment</a></li>
                    <li><a href="#">Share</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

@section Scripts {

}

