@{
    ViewData["Title"] = "News";
}
@*<h2>@ViewData["Title"]</h2>*@

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="~/css/lib/jquery-ui.css" rel="stylesheet" />
<link href="~/css/lib/bootstrap.css" rel="stylesheet" />
<link href="~/css/news.css" rel="stylesheet" />

<div class="body" style="width: 100%">
    <div class="container">
        <div class="row">
            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3" style="background-color: antiquewhite; height: 100%;">
                <div class="news-category main-nav">
                    <ul class="menu-parent">
                        <li class="nav-item">
                            <a href="#">
                                <div class="icon-nav">
                                    <i class="fas fa-rss-square icon-size"></i>
                                </div>
                                <div class="label-item">Newsfeed</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <div class="icon-nav">
                                    <i class="fab fa-quora icon-size"></i>
                                </div>
                                <div class="label-item">Quora</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <div class="icon-nav">
                                    <i class="fas fa-school icon-size"></i>
                                </div>
                                <div class="label-item">Education</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <div class="icon-nav">
                                    <i class="fas fa-music icon-size"></i>
                                </div>
                                <div class="label-item">Music</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <div class="icon-nav">
                                    <i class="fas fa-film icon-size"></i>
                                </div>
                                <div class="label-item">Film</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <div class="icon-nav">
                                    <i class="fas fa-code icon-size"></i>
                                </div>
                                <div class="label-item">Programming</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <div class="icon-nav">
                                    <i class="fas fa-code icon-size"></i>
                                </div>
                                <div class="label-item">Programming</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <div class="icon-nav">
                                    <i class="fas fa-code icon-size"></i>
                                </div>
                                <div class="label-item">Programming</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <div class="icon-nav">
                                    <i class="fas fa-ellipsis-h icon-size"></i>
                                </div>
                                <div class="label-item">Others</div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <div class="icon-nav">
                                    <i class="fas fa-bookmark icon-size"></i>
                                </div>
                                <div class="label-item">Bookmark</div>
                            </a>
                        </li>
                    </ul>
                </div>  @*end news-category*@
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="box-user">
                    <div class="box-user-detail">
                        <i class="fas fa-user-circle icon-size" style="font-size: 18px;"></i>
                        <span>Nguyen Thanh</span>
                    </div>
                    <div class="your-question">
                        <h4>What is your question or link?</h4>
                    </div>
                </div>
                <div class="news-main">
                    <ul class="news-main-parent">
                        <li class="news-main-item">
                            <div class="question-title">
                                <a class="question-link" href="#">
                                    <h4>If gambling is all probability, why aren't mathematicians the richest people?</h4>
                                </a>
                            </div>
                            <div class="author-question">
                                <span>By:</span>
                                <span class="ask-by">Hihi</span>
                                <span>Time: </span>
                                <span class="ask-time">April 1st 2019</span>
                            </div>
                            <div class="answer-body">
                                Top bracket now is 37%. I’m not there; I’m in the 35% bracket. But I’m within striking distance. (Be sure you understand the concept of marginal rates; a clear explanation can be found at
                                <span>(<a href="#">more</a>)</span>
                            </div>
                            <div class="icon-action-bar">
                                <div class="action-bar-inner">
                                    <div class="action-btn btn-answer"><i class="fas fa-pen-square"></i><span>Answer</span></div>
                                    <div class="action-btn btn-follow"><i class="fas fa-rss"></i><span>Follow</span></div>
                                    <div class="action-btn btn-upvote"><i class="far fa-thumbs-up"></i><span>Upvote</span></div>
                                    <div class="action-btn btn-downvote"><i class="far fa-thumbs-down"></i><span>Downvote</span></div>
                                    <div class="social-network">
                                        <i class="fab fa-js icon-social-network"></i>
                                        <i class="fab fa-python icon-social-network"></i>
                                        <i class="fab fa-java icon-social-network"></i>
                                    </div>
                                </div>
                            </div>
                        </li>  @*end news item*@
                        <li class="news-main-item">
                            <div class="question-title">
                                <a class="question-link" href="#">
                                    <h4>If gambling is all probability, why aren't mathematicians the richest people?</h4>
                                </a>
                            </div>
                            <div class="author-question">
                                <span>By:</span>
                                <span class="ask-by">Hihi</span>
                                <span>Time: </span>
                                <span class="ask-time">April 1st 2019</span>
                            </div>
                            <div class="answer-body">
                                Top bracket now is 37%. I’m not there; I’m in the 35% bracket. But I’m within striking distance. (Be sure you understand the concept of marginal rates; a clear explanation can be found at
                                <span>(<a href="#">more</a>)</span>
                            </div>
                            <div class="icon-action-bar">
                                <div class="action-bar-inner">
                                    <div class="action-btn"><i class="fas fa-pen-square"></i><span>Answer</span></div>
                                    <div class="action-btn"><i class="fas fa-rss"></i><span>Follow</span></div>
                                    <div class="action-btn"><i class="far fa-thumbs-up"></i><span>Upvote</span></div>
                                    <div class="action-btn"><i class="far fa-thumbs-down"></i><span>Downvote</span></div>
                                    <div class="social-network">
                                        <i class="fab fa-js icon-social-network"></i>
                                        <i class="fab fa-python icon-social-network"></i>
                                        <i class="fab fa-java icon-social-network"></i>
                                    </div>
                                </div>
                            </div>
                        </li>  @*end news item*@
                        <li class="news-main-item">
                            <div class="question-title">
                                <a class="question-link" href="#">
                                    <h4>If gambling is all probability, why aren't mathematicians the richest people?</h4>
                                </a>
                            </div>
                            <div class="author-question">
                                <span>By:</span>
                                <span class="ask-by">Hihi</span>
                                <span>Time: </span>
                                <span class="ask-time">April 1st 2019</span>
                            </div>
                            <div class="answer-body">
                                Top bracket now is 37%. I’m not there; I’m in the 35% bracket. But I’m within striking distance. (Be sure you understand the concept of marginal rates; a clear explanation can be found at
                                <span>(<a href="#">more</a>)</span>
                            </div>
                            <div class="icon-action-bar">
                                <div class="action-bar-inner">
                                    <div class="action-btn"><i class="fas fa-pen-square"></i><span>Answer</span></div>
                                    <div class="action-btn"><i class="fas fa-rss"></i><span>Follow</span></div>
                                    <div class="action-btn"><i class="far fa-thumbs-up"></i><span>Upvote</span></div>
                                    <div class="action-btn"><i class="far fa-thumbs-down"></i><span>Downvote</span></div>
                                    <div class="social-network">
                                        <i class="fab fa-js icon-social-network"></i>
                                        <i class="fab fa-python icon-social-network"></i>
                                        <i class="fab fa-java icon-social-network"></i>
                                    </div>
                                </div>
                            </div>
                        </li>  @*end news item*@
                    </ul>
                </div>  @*end news-category*@
            </div>
            <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3" style="background-color: yellow; height: 100%;">


            </div>
        </div>
    </div>
    @*end container*@
    <div class="question-box" id="question-box">
        <div class="question-box_wraper">
            <div class="question-box_inner">
                <div class="who-ask">
                    <span class="question-box_avatar"><i class="fas fa-user-circle"></i></span>
                    <span class="question-box_user-name">Nguyen Thanh  <span>asked</span></span>
                    
                </div>
                <div class="ask-question">
                    <textarea class="selector_input" type="text" rows="1" title="Start your question with &quot;What&quot;, &quot;How&quot;, &quot;Why&quot;, etc." placeholder="Start your question with &quot;What&quot;, &quot;How&quot;, &quot;Why&quot;, etc." style="overflow: hidden; overflow-wrap: break-word; height: 31px;"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/lib/jquery-3.4.1.js"></script>
<script src="~/js/lib/jquery-ui.js"></script>
<script src="~/js/View/news.js"></script>
