.alert {
    position: fixed;
    top: -52px;
    height: 50px;
    width: auto;
    margin: 0 auto;
    left: 45%;
    line-height: 25px;
    font-size: 15px;
    z-index: 99999;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .1s;
    border-radius: 2px;
    background: #fff;
    min-width: 200px;
    text-align: center;
}

.upvoted {
    color: #337ab7;
    font-weight: 700;
}

.category-active {
    background: #e4e4e4 !important;
    border-radius: 4px !important;
}

.label-item:hover {
    color: #3498db !important;
}

.msg-success {
    color: green;
}

.msg-fail {
    color: red;
}
